// Typefaces
$arial: 'Arial', sans-serif;
$title-font: "Permanent Marker", cursive;
$primary-font: "Open Sans", sans-serif;
$mono-font: "Major Mono Display", monospace;

// text sizes
$text-x-large: 3.4rem;
$text-large: 2.4rem;
$text-medium: 2rem;
$text-small: 1.8rem;
$text-x-small: 1.5rem;

// Global
$primary-font: $arial;
$primary-font-color: $black;
$primary-link-color: $gold;
